<header>
    <div class="container-grid posicionamento-header">
        <a href="#"><img src="assets/img/logo.svg" alt="Logo do site E-Players"></a>
        <nav id="menu" class="menu">
            <a routerLink="">Início</a>
            <a href="#">Horários</a>
            <a routerLink="/contato">Contato</a> 
            <a href="#">Resultados</a>
            <a href="#">Notícias</a>
        </nav>
        <!-- <a href="#" onclick="mostrarMenu()"><img class="barras" src="img/bars.svg" alt="Menu de barras"></a> -->
        <a href="#" id="barras"><img class="barras" src="assets/img/bars.svg" alt="Menu de barras"></a>
    </div>
</header>
