@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500;700&family=Titillium+Web&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1E1C21;
    height: 91px;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.cabecalho {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width: 700px;
    display: flex;
    justify-content:space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
}


.banner {
    height: 602px;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.posicionamento-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.conteudo-banner{
    width: 497px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo-banner h1 {
    color: white;
    font-family: "Titillium Web";
    font-size: 80px;
}

.conteudo-banner p{
    color: white;
    font-family: "Roboto";
    font-size: 25px;
}

.conteudo-banner a{
    padding: 15px;
    background-color: #c31616; 
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 25px;
    border-radius: 5px;

}

.jogos {
    height: 120px;
    background-color: black;
    
}

.posicionamento-jogos {
    height: 100%;
}

.container {
    max-width: 1200px;
}

.posicionamento-jogos img {
    width: 150px;
}


.ofertas {
    background-color: #1E1C21;
    padding-top: 30px;
}

.ofertas h2 {
    font-family: 'Roboto';
    color: #fff;
    font-size: 27px;
}

.espaco-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cardnews{
    width: 15em;
    height: 22.5em;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);
}

.cardnews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardnews img {
    width: 100%;
}

.texto-card {
    width: 85%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.texto-card h3, .texto-card p {
    margin: 0;
}

.cardnews h3{
    font-size: 24px;
    font-weight: 600;
}

.cardnews .preco {
    font-size: 24px;
    font-weight: 600;
}

.cardnews a {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 2;
    
    background-color: #C31616;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.secao-sobre {
    background-image: url(img/fundo-sobre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-sobre {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.texto-sobre h2 {
    margin-bottom: 2rem;
}

footer {
    background-color: black;
}

.rodape {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    color: white;
}

.links-footer {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.links-footer h2 {
    font-family: 'Titillium Web';
    font-size: 24px;
}

.links-footer a {
    font-family: 'Titillium Web';
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.links-footer a:hover {
    color: #0d6efd;
}

.sociais {
    width: 31%;
}

.sociais p {
    font-family: 'Titillium Web';    
}

.sociais form {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.sociais input[type="email"]{
    height: 37px;
    width: 65%;  
    border-radius: 0px; 
    border-style: none; 
    text-indent: 5px;
}

.sociais input[type="email"]::placeholder {
    color: #B8B3B3;
    font-weight: bold;
}

.sociais button{
    width: 35%;
    color: white;
    background-color: #001F70;
    border: none;
    font-family: 'Titillium Web';
    font-weight: 600;
}

.siga-nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8em;
}

.siga-nos h2 {
    font-family: 'Titillium Web';
    font-size: 23px;
}