<footer>
    <div class="container rodape">
        <div class="links-footer">
            <div class="links">
                <h2>Links Úteis</h2>
                <ul>
                    <li><a href="#">Regras de utilização</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="links">
                <h2>Páginas</h2>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li><a href="#">Resultados</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="#">Login/Cadastro</a></li>
                </ul>
            </div>
        </div>
        <img class="logo-rodape" src="assets/img/logo.svg" alt="Logo E-Players">
        <div class="sociais">
            <h2>Faça parte do nosso clan, receba notícias e promoções!</h2>

            <form action="">
                <input id="campo-email" type="email" placeholder="E-mail" required>
                <button onclick="cadastrarEmail()">Cadastrar</button>                
            </form>

            <div class="siga-nos">
                <h2>Siga-nos em:</h2>
                <a href="#"><img src="assets/img/logo-instagram.png" alt="Logo do Instagram"></a>
                <a href="#"><img src="assets/img/logo-facebook.png" alt="Logo do Facebook"></a>
                <a href="#"><img src="assets/img/logo-yt.png" alt="Logo do Youtube"></a>
            </div>
        </div>
    </div>
</footer>
